{% set types = __SELF__.types %}

<section class="main">
<h2>Виды транспорта</h2>
    <div class="table-holder" style="height: 100%">
        <table>
            <tr>
                <th>id</th>
                <th>Название</th>
                <th>Код</th>
                <th>Действия</th>
            </tr>

            {% for t in types %}
            <tr>
                <td data-title="id">{{ t.id }}</td>
                <td data-title="Название">{{ t.name }}</td>
                <td data-title="Код">{{ t.code }}</td>
                <td data-title="Действия">
                    <button type="button" class="button"
                            data-request="onTypeDel"
                            data-request-data="id:{{ t.id }}">
                        Удалить
                    </button>
                    <div class="button">
                        <a href="/profile/car-types/{{ t.id }}">Редактировать</a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
<div class="btn-holder">
    <button class="button toggle-hidden" type="button">Добавить новый вид</button>
</div>

<div class="hidden-content">
    <form method="post" action="#" data-request="onCarTypeAdd">
        <div class="input">
            <label for="name">Название</label>
            <input type="text" name="name" placeholder="Название типа" />
        </div>
        <div class="input">
            <label for="code">Код</label>
            <input type="text" name="code" placeholder="code" />
        </div>
        <div class="submit-holder">
            <button type="submit">Добавить</button>
        </div>
    </form>
</div>
</section>
