[viewBag]
title = "Контакты"
url = "/contacts"
layout = "staticpage"
is_hidden = 0
navigation_hidden = 0
meta_title = "Контакты"
meta_description = "Контакты"
==
<p>Контакты
	<br>
</p>

<p>
	<br>8 (925) 181-93-77</p>
