{% set r = __SELF__.request %}
{% set rParams = __SELF__.requestCarParamsData %}
{% set date = __SELF__.requestDate %}

<form method="get" class="order-form" data-request="onSave">
    <input type="hidden" name="request_id" value="{{ r.id }}">
    {% if r %}
        <a href="/profile">В профиль</a>
    {% endif %}
    <h1>Форма заказа</h1>
    {% for param in __SELF__.requestCarParams %}
        {% if param.code == 'car_brand' %}
            <div class="input">
                <label for="car_brand">Список марок</label>
                <select name="param[{{ param.id }}]">
                    {% for i in __SELF__.default.car_brand %}
                        <option {% if rParams.car_brand == i %} selected {% endif %}>{{ i }}</option>
                    {% endfor %}
                </select>
            </div>
        {% endif %}
        {% if param.code == 'boom_height' %}
            <div class="input">
                <label for="boom_height">Высота стрелы, м</label>
                <input type="hidden" name="param[{{ param.id }}]" class="boom_height-input" value="{{ rParams.boom_height }}">
                <div class="btn-holder for-boom_height">
                    {% for i in __SELF__.default.boom_height %}
                        <button class="button {% if rParams.boom_height == i %} active {% endif %}" type="button">{{ i }}</button>
                    {% endfor %}
                </div>
                {{ errors.first('boom_height') }}
            </div>
        {% endif %}
        {% if param.code == 'lifting_capacity' %}
            <div class="input">
                <label for="lifting_capacity">Грузоподъемность стрелы, кг</label>
                <input type="hidden" name="param[{{ param.id }}]" class="lifting_capacity-input" value="{{ rParams.lifting_capacity }}">
                <div class="btn-holder for-lifting_capacity">
                    {% for i in __SELF__.default.lifting_capacity %}
                        <button class="button {% if rParams.lifting_capacity == i %} active {% endif %}" type="button">{{ i }}</button>
                    {% endfor %}
                </div>
                {{ errors.first('lifting_capacity') }}
            </div>
        {% endif %}
        {% if param.code == 'boom_type' %}
            <div class="input">
                <label for="boom_type">Тип стрелы</label>
                <select name="param[{{ param.id }}]">
                    {% for i in __SELF__.default.boom_type %}
                        <option {% if rParams.boom_type == i %} selected {% endif %}>{{ i }}</option>
                    {% endfor %}
                </select>
            </div>
        {% endif %}
    {% endfor %}

    <div id="partialCountryState">
        {% partial 'country-state' countryId=r.country_id stateId=r.state_id moscowCityID=__SELF__.moscowCityID %}
    </div>

    <div class="input">
        <label for="address">Адрес</label>
        <input id="address" type="text" name="address" placeholder="Адрес" value="{{ r.address }}"/>
        {{ errors.first('address') }}
    </div>

    <div class="input">
        <label for="date">Дата подачи</label>
        <input type="date" name="date" placeholder="DD/MM/YYYY" value="{{ date }}" />
        {{ errors.first('date') }}

    </div>
    <div class="input">
        <label for="time">Время подачи</label>
        <input type="time" name="time" placeholder="9:00 AM" value="{{ r.time_on }}" />
        {{ errors.first('time') }}

    </div>
    <div class="input">
        <label for="range">Сколько готовы платить руб./час</label>
        <input type="range" name="range" min="1000" max="5000" step="100" value="{% if r %}{{ r.pay_sum }}{% else %}2000{% endif %}" class="range" />
        <span class="range-label"></span>
    </div>
    <div class="submit-holder">
        <button id="place-order" name="submit" type="submit">Разместить заказ</button>
    </div>
</form>
