{% set allRequests = __SELF__.allRequests %}
{% set pendingRequests = __SELF__.pendingRequests %}
{% set acceptedRequests = __SELF__.acceptedRequests %}
{% set declinedRequests = __SELF__.declinedRequests %}
{% set completedRequests = __SELF__.completedRequests %}


<h1>Мои заказы</h1>
<h2>Все заказы</h2>
<div class="table-holder">
    <table>
        <tr>
            <th>Дата</th>
            <th>Время</th>
            <th>Адрес</th>
            <th>Вид автотехники</th>
            <th>Высота стрелы, м</th>
            <th>Грузоподъмность, кг</th>
            <th>Сумма к оплате, руб.</th>
            <th>Действия</th>
        </tr>
        {% for request in pendingRequests %}
        <tr>
            <td data-title="Дата">{{ request.date_on }}</td>
            <td data-title="Время">{{ request.time_on }}</td>
            <td data-title="Адрес">{{ request.country.name }}, {{ request.state.name }}, {{ request.address }}</td>
            <td data-title="Тип машины">Кран</td>
            <td data-title="Высота стрелы, м">
                {% for p in request.params %}
                    {% if p.param.code == 'boom_height' %}
                        {{ p.value }}
                    {% endif %}
                {% endfor %}
            </td>
            <td data-title="Грузоподъмность, кг">
                {% for p in request.params %}
                    {% if p.param.code == 'lifting_capacity' %}
                        {{ p.value }}
                    {% endif %}
                {% endfor %}
            </td>
            <td data-title="Сумма к оплате, руб.">{{ request.pay_sum }}</td>
            <td data-title="Действия">
                <button type="button"
                        data-request="onAction"
                        data-request-data="id:{{ request.id }},action:'accept'"
                        class="button">
                    Взять <span class="mobile-hidden">заказ</span>
                </button>
                <button type="button"
                        data-request="onAction"
                        data-request-data="id:{{ request.id }},action:'decline'"
                        class="button">
                    Скрыть <span class="mobile-hidden">заказ</span>
                </button>
            </td>
        </tr>
        {% endfor %}
    </table>
</div><!-- table-holder -->


<h2>Принятые</h2>
<div class="table-holder">
    <table>
        <tr>
            <th>Дата</th>
            <th>Время</th>
            <th>Адрес</th>
            <th>Вид автотехники</th>
            <th>Высота стрелы, м</th>
            <th>Грузоподъмность, кг</th>
            <th>Сумма к оплате, руб.</th>
            <th>Действия</th>
        </tr>
        {% for request in acceptedRequests %}
        <tr class="customer-info">
            <td colspan="8">
                {{ request.customer.name }}, тел:
                {% if __SELF__.requestPhoneConfig.active %}
                    {{ __SELF__.requestPhoneConfig.value }}
                {% else %}
                    {{ request.customer.phone }}
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>{{ request.date_on }}</td>
            <td>{{ request.time_on }}</td>
            <td>{{ request.country.name }}, {{ request.state.name }}, {{ request.address }}</td>
            <td>Кран</td>
            <td data-title="Высота стрелы, м">
                {% for p in request.params %}
                    {% if p.param.code == 'boom_height' %}
                        {{ p.value }}
                    {% endif %}
                {% endfor %}
            </td>
            <td data-title="Грузоподъмность, кг">
                {% for p in request.params %}
                    {% if p.param.code == 'lifting_capacity' %}
                        {{ p.value }}
                    {% endif %}
                {% endfor %}
            </td>
            <td>{{ request.pay_sum }}</td>
            <td>
                <button type="button"
                        data-request="onAction"
                        data-request-data="id:{{ request.id }}, action:'complete'"
                        class="button">
                    <span class="mobile-hidden">Заказ</span> выполнен
                </button>
                <button type="button"
                        data-request-data="{{ request.id }}"
                        class="button popup-with-form"
                        href="#cancel-order-form">
                    Отменить <span class="mobile-hidden">заказ</span>
                </button>
            </td>
        </tr>
        {% endfor %}
    </table>
</div><!-- table-holder -->

<h2>Скрытые</h2>
<div class="table-holder">
    <table>
        <tr>
            <th>Дата</th>
            <th>Время</th>
            <th>Адрес</th>
            <th>Вид автотехники</th>
            <th>Высота стрелы, м</th>
            <th>Грузоподъмность, кг</th>
            <th>Сумма к оплате, руб.</th>
            <th>Действия</th>
        </tr>
        {% for request in declinedRequests %}
            <tr>
                <td>{{ request.date_on }}</td>
                <td>{{ request.time_on }}</td>
                <td>{{ request.country.name }}, {{ request.state.name }}, {{ request.address }}</td>
                <td>Кран</td>
                <td data-title="Высота стрелы, м">
                    {% for p in request.params %}
                        {% if p.param.code == 'boom_height' %}
                            {{ p.value }}
                        {% endif %}
                    {% endfor %}
                </td>
                <td data-title="Грузоподъмность, кг">
                    {% for p in request.params %}
                        {% if p.param.code == 'lifting_capacity' %}
                            {{ p.value }}
                        {% endif %}
                    {% endfor %}
                </td>
                <td>{{ request.pay_sum }}</td>
                <td>
                    <button type="button"
                            data-request="onAction"
                            data-request-data="id:{{ request.id }}, action:'accept'"
                            class="button">
                        Взять <span class="mobile-hidden">заказ</span>
                    </button>
                </td>
            </tr>
        {% endfor %}
    </table>
</div><!-- table-holder -->


<h2>Выполненные</h2>
<div class="table-holder">
    <table>
        <tr>
            <th>Дата</th>
            <th>Время</th>
            <th>Адрес</th>
            <th>Вид автотехники</th>
            <th>Высота стрелы, м</th>
            <th>Грузоподъмность, кг</th>
            <th>Сумма к оплате, руб.</th>
        </tr>
        {% for request in completedRequests %}
            <tr>
                <td>{{ request.date_on }}</td>
                <td>{{ request.time_on }}</td>
                <td>{{ request.country.name }}, {{ request.state.name }}, {{ request.address }}</td>
                <td>Кран</td>
                <td data-title="Высота стрелы, м">
                    {% for p in request.params %}
                        {% if p.param.code == 'boom_height' %}
                            {{ p.value }}
                        {% endif %}
                    {% endfor %}
                </td>
                <td data-title="Грузоподъмность, кг">
                    {% for p in request.params %}
                        {% if p.param.code == 'lifting_capacity' %}
                            {{ p.value }}
                        {% endif %}
                    {% endfor %}
                </td>
                <td>{{ request.pay_sum }}</td>
            </tr>
        {% endfor %}
    </table>
</div><!-- table-holder -->


<!-- Popup Form -->
<form data-request="onAction"
      id="cancel-order-form"
      class="white-popup-block mfp-hide"
      method="post">
    <input type="hidden" value="" name="id">
    <input type="hidden" value="cancel" name="action">
    <div class="input">
        <label for="textarea">Напишите причину отказа</label><br>
        <textarea id="textarea" placeholder="Ваш комментарий" name="comment"></textarea>
    </div>
    <div class="submit-holder">
        <button class="button" type="submit">Отправить</button>
    </div>
</form>
<!-- Popup Form -->
