{% set users = __SELF__.allUsers %}

<section class="main">
<h2>Все пользователи</h2>
<div class="table-holder">
    <table>
        <tr>
            <th>Имя</th>
            <th>Email</th>
            <th>Логин</th>
            <th>Роль</th>
            <th>Последний раз заходил</th>
            <th>Активен</th>
            <th>Действия</th>
        </tr>
        {% for u in users %}
            <tr>
                <td data-title="Имя">{{ u.name }}</td>
                <td data-title="Email">{{ u.email }}</td>
                <td data-title="Логин">{{ u.login }}</td>
                <td data-title="Роль">
                    {% for role in u.groups %}
                        {{ role.name }}<br>
                    {% endfor %}
                </td>
                <td data-title="заходил">{{ u.last_seen }}</td>
                <td data-title="Активен">
                    {% if not u.isBanned() %}
                        Активен <br>
                        <input type="checkbox"
                               class="checkbox2ban popup-with-form"
                               href="#ban-user-form"
                               data-request-data="{{ u.id }}"
                               checked>
                    {% else %}
                        Неактивен <br>
                        <input type="checkbox"
                               class="checkbox2ban without-popup"
                               data-request-data="{{ u.id }}">
                    {% endif %}
                </td>
                <td data-title="Действия">
                    <div class="button">
                        <a href="/profile/users/{{ u.id }}">
                            Редактировать <span class="mobile-hidden">пользователя</span></a>
                    </div>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>

<!-- Popup Form -->
<form data-request="onBan"
      id="ban-user-form"
      class="white-popup-block mfp-hide"
      method="post">
    <input type="hidden" value="" name="id">
    <div class="input">
        <label for="textarea">Опишите причину блокировки</label><br>
        <textarea id="textarea" placeholder="Ваш комментарий" name="comment" required></textarea>
    </div>
    <div class="submit-holder">
        <button class="button" type="submit">Отправить</button>
    </div>
</form>
<!-- Popup Form -->
</section>
