{% set requests = __SELF__.requests %}

<h1>Мои заказы</h1>
<div class="table-holder">
    <table>
        <tr>
            <th>Дата</th>
            <th>Время</th>
            <th>Адрес</th>
            <th>Вид автотехники</th>
            <th>Высота машины, м</th>
            <th>Грузоподъмность, кг</th>
            <th>Сумма к оплате, руб.</th>
        </tr>
        {% for request in requests %}
        <tr>
            <td data-title="Дата">{{ request.date_on }}</td>
            <td data-title="Время">{{ request.time_on }}</td>
            <td data-title="Адрес">{{ request.country.name }}, {{ request.state.name }}, {{ request.address }}</td>
            <td data-title="Тип машины">Кран</td>
            <td data-title="Высота стрелы, м">
                {% for p in request.params %}
                    {% if p.param.code == 'boom_height' %}
                        {{ p.value }}
                    {% endif %}
                {% endfor %}
            </td>
            <td data-title="Грузоподъмность, кг">
                {% for p in request.params %}
                    {% if p.param.code == 'lifting_capacity' %}
                        {{ p.value }}
                    {% endif %}
                {% endfor %}
            </td>
            <td data-title="Сумма к оплате, руб.">{{ request.pay_sum }}</td>
        </tr>
        {% endfor %}
    </table>
</div><!-- table-holder -->
