description = "Подвал"

[viewBag]
==
<!-- Main Content -->

		</div><!-- pagewidth -->
	</div><!-- wrapper -->

  <!-- Footer -->
  <footer class="footer">
  	<div class="pagewidth">
			<div class="copy">
				<span class="copy__text text">Оформлено в <a href="http://poravinternet.ru/">Агентстве «Первый интернет-проект»</a> в 2018 году.</span>
			</div>
		</div><!-- pagewidth -->
	</footer>
	<!-- Footer -->


	<!-- scripts  -->
	<script src="{{ [
		'assets/js/jquery-3.2.1.min.js',
    	'assets/js/bootstrap.bundle.min.js',
		'assets/js/jquery.magnific-popup.js',
    	'assets/js/script.js',
	]|theme }}"></script>
	
	{% framework extras %}
    {% scripts %}

</body>
</html>
