description = "Шапка"

[viewBag]
==
<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8" />
	<title>{{ this.page.title }} - Автовышки</title>
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="{{ this.page.meta_description }}">
    <meta name="title" content="{{ this.page.meta_title }}">
	<!--[if lt IE 9]><script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

	<!-- CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  	<link rel="stylesheet" href="{{ [
		'assets/css/bootstrap.min.css',
        'assets/css/magnific-popup.css',
        'assets/css/styles.css',
	]|theme }}">
	
	{% styles %}
</head>
<body>

{% flash %}
<p data-control="flash-message" data-interval="5" class="{{ type }}">
    {{ message }}
</p>
{% endflash %}


	<!-- Nav Menu -->

  <div class="nav-menu fixed-top">
    <div class="pagewidth">
      <nav class="navbar navbar-dark navbar-expand-lg">
        <a class="navbar-brand" href="index.html"><img src="{{ 'assets/images/logo.png'|theme }}" alt=""></a> 
        <div class="tel-holder-head">
					<a href="tel:+7 925 181-93-77"><i class="fa fa-phone-square" aria-hidden="true"></i> +7 925 181-93-77</a>
				</div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
        
        <div class="collapse navbar-collapse" id="navbar">
        	<ul class="navbar-nav ml-auto">
	            {% partial 'menu/top' %}
          </ul>
          <ul class="navbar-nav ml-auto">
          	{% partial 'menu/top_login' %}
          </ul>
        </div>
      </nav>
    </div>
  </div>

  <!-- Nav Menu -->

	<!-- Header -->
	<header class="header">
		<div class="pagewidth">
			<h2 class="header__title">{{ this.page.title }}</h2>
		</div><!-- pagewidth -->
	</header>
	<!-- Header -->

	<div class="wrapper">
		<div class="pagewidth main-content">

			<!-- Main Content -->
