[viewBag]
==
{% set countryId = countryId|default(form_value('country_id')) %}
{% set stateId = stateId|default(form_value('state_id')) %}

<div class="input">
    <label for="accountCountry">Страна</label>
    {{ form_select_country('country_id', 185, {
        id: 'accountCountry',
        class: '',
        emptyOption: '',
        'data-request': 'onInit',
        'data-request-update': {
            'country-state': '#partialCountryState'
        }
    }) }}
</div>

<p><input class="city-moscow" type="radio" name="state" value="{{ moscowCityID }}"
          {% if stateId == moscowCityID %}checked{% endif %}>Москва</p>
<p><input class="city-near-moscow" type="radio" name="state" value="another"
          {% if stateId != moscowCityID %}checked{% endif %}>Московский регион</p>

<div class="input location-cities-block"  {% if stateId == moscowCityID %} style="display: none"{% endif %}>
    <label for="accountState">Город</label>
    {{ form_select_state('state_id', 185, stateId, {
        id: 'accountState',
        class: '',
    }) }}
</div>
