{% set params = __SELF__.params %}


<section class="main">
    <h2>{{ __SELF__.pageName }}</h2>
    <div class="table-holder" style="height: 100%">
        <table>
            <tr>
            <th>Название</th>
            <th>Код</th>
            <th>Тип</th>
            <th>Действия</th>
            </tr>

            {% for param in params %}
                <tr>
                    <td data-title="Название">{{ param.name }}</td>
                    <td data-title="Код">{{ param.code }}</td>
                    <td data-title="Тип">{{ param.type }}</td>
                    <td data-title="Действия">
                        <button type="button" class="button"
                                data-request="onTypeParamDel"
                                data-request-data="id:{{ param.id }}">
                            Удалить
                        </button>
                        <button type="button" class="button editCarTypeParam"
                                data-id="{{ param.id }}"
                                data-name="{{ param.name }}"
                                data-code="{{ param.code }}"
                                data-type="{{ param.type }}">
                            Редактировать
                        </button>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>


    <div class="btn-holder">
        <button class="button toggle-hidden activateTypeParamEditor" type="button">Добавить параметр</button>
    </div>

    <div class="hidden-content typeParamEditor">
        <form method="post" action="#" data-request="onTypeParamUp" id="type-param-edit">
            <input type="hidden" name="param_id" value="">
            <input type="hidden" name="car_type_id" value="{{ __SELF__.type.id }}">
            <div class="input">
                <label for="name">Название</label>
                <input type="text" name="name" placeholder="Название параметра" />
            </div>
            <div class="input">
                <label for="code">Код</label>
                <input type="text" name="code" placeholder="code" />
            </div>
            <div class="input">
                <label for="type">Тип</label>
                <select name="value_type">
                    <option>string</option>
                    <option>integer</option>
                </select>
            </div>
            <div class="submit-holder">
                <button type="submit">Добавить</button>
                <button type="reset" class="drop-form-btn">Очистить</button>
            </div>
        </form>
    </div>
</section>

