description = "Шаблон для Страниц"

[session]
security = "all"

[account]
redirect = "profile"
paramCode = "code"
forceSecure = 0

[staticPage]
useContent = 1
default = 1
==
<?php
function onStart(){
	//var_dump($this['staticPage']->extraData);
//	//echo $this['page'].baseFileName('');
//	echo '->'.($this['staticPage']->__get('url'));
//	die();
//	return;
}
?>
==
{% partial 'site/header' %}
		<section class="main">
			<h1>{{ title }}</h1>
			{% page %}
		</section>
{% partial 'site/footer' %}