@import url('https://fonts.googleapis.com/css?family=Alegreya:700|Roboto|Roboto+Condensed');
/* ================================================= Text & Links */
body, td, div, select, textarea, input {
	font: 16px 'Roboto', Arial, Helvetica, sans-serif;
	color: #212121;
}
a, div, input, button { outline: none; }

h1, h2, h3 {
	font-weight: normal;
	color: #212121;
}
h1 {
  font-size: 32px;
  margin: 0;
	font-family: 'Alegreya', Times, 'Times New Roman', serif;
	padding: 0 0 10px;
	margin: 0 0 20px;
	position: relative;
}
h2 {
  font-size: 28px;
  margin: 0 0 15px;
}

h3 {
  font-size: 18px;
  margin: 0 0 5px;
  font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
}
p {
  line-height: 1.45em;
  margin: 0 0 1.42em;
}
a {
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}
.button {
	display: inline-block;
	padding: 10px 20px;
	border-radius: 0;
	background: #fdc801;
	color: #212121;
	border: none;
	cursor: pointer;
	font-size: 14px;
	text-transform: uppercase;
	text-decoration: none;
	outline: none;
}
.button:focus,
.button:active {
	outline: none;
}
.button:hover {
	background: #FFD63A;
	color: #212121;
}

/* ================================================= Page Structure */
* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
  text-align: center;
}
.wrapper {
	background: #E0E0E0;
	width: 100%;
}
.pagewidth {
	width: 100%;
	max-width: 980px;
	margin: 0 auto;
	position: relative;
}
.main-content {
	width: 100%;
	padding: 30px 0;
}
.main {
  text-align: left;
  background: #f5f5f5;
	padding: 25px 30px;
}


/* ================================================= Content */


/* ========================= Header */
.header {
  background: #fdc801;
	width: 100%;
	padding: 100px 30px 20px;
}
.header .pagewidth {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}
.header__title {
	font-size: 26px;
	text-transform: none;
	margin: 0 0 20px;
	color: #212121;
}
.header__logo {
	font-size: 26px;
	text-transform: none;
	margin: 0 0 20px;
	color: #212121;
}
.tel-holder-head {
	text-align: right;
	position: absolute;
	top: 8px;
	right: 30px;
	font-size: 15px;
	color: #fff;
}
.tel-holder-head a,
.tel-holder-head a:hover{
	color: #fff;
	text-decoration: none;
}
.tel-holder-head a i.fa {
	font-size: 20px;
	position: relative;
	top: 2px;
	margin-right: 4px;
}

/* ========================= Content */


/* ========================= Footer */
.footer {
  background: #212121;
	width: 100%;
	font-size: 16px;
	color: #fff;
	padding: 45px 50px;
}
.footer .pagewidth {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}
.footer .copy {
  width: 100%;
}
.footer .copy__text {
  color: #fff;
}
.footer a {
  color: #fff;
}

/* ================================================= Navigation */

.nav-menu {
  padding: 0;
  transition: all 0.3s ease;
}
.navbar-nav {
  margin-bottom: 10px;
  margin-top: 12px;
}
.navbar-brand img {
	max-height: 70px;
}
.navbar-toggler {
	cursor: pointer;
}
.nav-menu.is-scrolling,
.nav-menu.menu-is-open {
	background: #fdc801;
  background-color: #fdc801;
  background: -moz-linear-gradient(to right, #fdc801 60%, #9A7A00 100%);
  background: -webkit-linear-gradient(to right, #fdc801 60%, #9A7A00 100%);
  background: linear-gradient(to right, #fdc801 60%, #9A7A00 100%);
  -webkit-box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.1);
}
.nav-menu.is-scrolling {
  padding: 0;
}
.navbar-nav .nav-link {
  position: relative;
}
.navbar-dark .navbar-nav .nav-link {
	color: #fff;
}
.navbar-dark .navbar-toggler {
	color: #fff;
	border: none;
	outline: none;
}
.navbar-dark .navbar-toggler-icon {
	width: 30px;
	height: 4px;
	background: #fff;
	display: inline-block;
	position: relative;
}
.navbar-dark .navbar-toggler-icon:before,
.navbar-dark .navbar-toggler-icon:after {
	content: '';
	display: block;
	width: 30px;
	height: 4px;
	background: #fff;
	display: inline-block;
	position: absolute;
	left: 0;
	-webkit-transition: all .2s ease;-moz-transition: all .2s ease;-o-transition: all .2s ease;transition: all .2s ease;
}
.navbar-dark .navbar-toggler-icon:before {
	top: -10px;
}
.navbar-dark .navbar-toggler-icon:after {
	bottom: -10px;
}

.menu-is-open .navbar-dark .navbar-toggler-icon {
	background: transparent;
}
.menu-is-open .navbar-dark .navbar-toggler-icon:before {
	transform: rotate(45deg);
	top: 0;
}
.menu-is-open .navbar-dark .navbar-toggler-icon:after {
	transform: rotate(-45deg);
	bottom: 0;
}

.user-nav {
	width: 100%;
	margin: 0 0 10px;
}
.user-nav ul {
	width: 100%;
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}
.user-nav ul li {
	margin: 0 5px 10px;
}
.user-nav ul li .button {
	background: #ccc;
}
.user-nav ul li .active,
.user-nav ul li .button:hover {
	background: #fdc801;
}


/* ===================== Table Styles */
.table-holder {
	width: 100%;
	overflow-x: auto;
	margin: 0 0 30px;
	-webkit-overflow-scrolling: touch;

}
table {
	border-collapse: collapse;
	width: 100%;
	margin: 0;
	padding: 0 1px;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}
table th {
	padding: 10px;
	background: #212121;
	color: #fff;
	text-align: center;
	font-weight: normal;
}
table td {
	padding: 5px 10px;
	text-align: center;
	border: 1px solid #ccc;
	background: #fff;
}
table .customer-info td {
	background: #f2f2f2;
	text-align: left;
	padding: 10px 20px;
}
table .button {
	padding: 5px 10px;
	font-size: 12px;
	margin: 0 0 5px;
	width: 100%;
}

/* ===================== List Styles */

dl {
	width: 100%;
	margin: 0 0 20px;
}
dt, dd {
	width: 35%;
	display: inline-block;
	padding: 3px 10px;
	margin: 0 0 5px;
}
dd {
	width: 55%;
}
/* ===================== Form Styles */
form {
	background: #fff;
  padding: 20px 30px;
  text-align: left;
  max-width: 650px;
  margin: 40px auto 0;
  position: relative;
}
form .input {
  width: 100%;
  margin: 0 0 10px;
}
form .input label {
	display: block;
  width: 100%;
  margin: 0 0 5px;
	padding: 0 10px;
}
form .submit-holder {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}
form input[type=text],
form input[type=url],
form input[type=email],
form input[type=password],
form input[type=tel],
form input[type=date],
form input[type=time] {
  -webkit-appearance: none; -moz-appearance: none;
  display: block;
  margin: 0;
	padding: 0 10px;
  width: 100%;
	height: 40px;
  line-height: 40px;
	font-size: 17px;
  border: 1px solid #d3d3d3;
	color: #212121;
}
form input[type=checkbox] {
	width: 44px; height: 44px;
	-webkit-border-radius: 22px; -moz-border-radius: 22px; border-radius: 22px;
	border: 1px solid #bbb;
}
form input[type=range] {
	width: 100%;
}
form input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 44px;
	height: 44px;
  background: #fdfdfd;
  border: 1px solid #bbb;
  -webkit-border-radius: 22px; -moz-border-radius: 22px; border-radius: 22px;
}
form input:focus,
form select:focus {
	border-color: #999;
	outline: none;
	background: #fefefe;
}
::-webkit-input-placeholder { color:#212121; }
::-moz-placeholder          { color:#212121; }/* Firefox 19+ */
:-moz-placeholder           { color:#212121; }/* Firefox 18- */
:-ms-input-placeholder      { color:#212121; }

form .range-label {
  display: block;
	width: 100%;
	padding: 5px 10px;
}
form textarea {
	-webkit-appearance: none; -moz-appearance: none;
  display: block;
  margin: 0;
	padding: 10px 15px;
  width: 100%;
	height: 100px;
  line-height: 1.4em;
	font-size: 17px;
  border: 1px solid #d3d3d3;
}
form select {
	-webkit-appearance: none; -moz-appearance: none;
  display: block;
  margin: 0;
	padding: 0 30px 0 10px;
  width: 100%;
	height: 40px;
  line-height: 40px;
	font-size: 17px;
  border: 1px solid #d3d3d3;
	cursor: pointer;
	background: url('../images/icon-arrow-down.png') no-repeat right center;
}
form select:after {
	position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}
form .btn-holder {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
}

form button[type=submit] {
	cursor: pointer;
	-webkit-appearance: none; -moz-appearance: none;
	display: inline-block;
	font-weight: bold;
	background: #fdc801;
	color: #212121;
	border: none;
	text-transform: uppercase;
	padding: 10px 20px;
	margin: 0 0 10px;
	font-size: 14px;
	-webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0;
}
form button[type=submit]:hover {
	background: #FFD63A;
}
form .btn-holder .button {
	width: 24%;
	margin: 0 .5% 5px;
	padding: 10px 5px;
	background: #ccc;
}
form .btn-holder .active,
form .btn-holder .button:hover {
	background: #fdc801;
}
.hidden-content {
	display: none;
	width: 100%;
	position: relative;
	padding: 0;
}
form .error {
	margin: 5px 0;
	padding: 5px 10px;
	border: 1px solid #c00;
	color: #c00;
}


/* ========================================= Responsive Styles */

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
    font-size: 14px;
  }
}

@media (max-width:991px) {
  .navbar-nav.is-scrolling { padding-bottom: 1rem; }
  .navbar-nav .nav-item { text-align: center; }
  .tel-holder-head { position: relative; right: auto; top: auto; }
  .navbar-brand {
		width: 20%;
		text-align: left;
		box-sizing: border-box;
		margin-right: 0;
	}
	.tel-holder-head {
		width: 60%;
		text-align: center;
		box-sizing: border-box;
		padding-left: 5px;
	}
	.tel-holder-head a {
		font-size: 14px;
	}
	.navbar-dark .navbar-toggler {
		width: 20%;
		text-align: right;
		box-sizing: border-box;
	}
}

@media all and (max-width: 800px) {
	body, td, div, select, textarea, input { font-size: 14px; }
	h1, h2 { font-size: 24px; }
	p { line-height: 1.88em; margin: 0 0 1.8em; }
	.header, .footer { min-height: 0; padding: 20px; }
	.header { padding-top: 76px; }
	.footer { min-height: 0; padding: 20px 38px; }
  .main { min-height: 0;  }
  .header__title { display: none; }
	.navbar { background: #fdc801; }


}
@media all and (max-width: 640px) {
	form button[type=submit] { width: 100%;}
	.navbar { padding: 10px; }
	.navbar-brand img { height: auto; width: auto; max-width: 100%; }
	.header { padding-top: 56px; }
	dt, dd { width: 100%; margin: 0;}
	dd { margin: 0 0 8px; }
	.mobile-hidden { display: none; }
	.main { padding: 25px 20px; }

	table { border: none; border-top: 1px solid #ccc; }
	table td { border-top: none; min-height: 30px; }
	table tr, table td { display: block; }
	table tr:first-child { position: absolute; top: -9999px; left: -9999px; }
	table tr { padding-bottom: 10px; border-bottom: 1px solid #ccc; }
	table td { width: 100%; padding-left: 51%; padding-right: 3%; position: relative;  }
	table td:before { content: attr(data-title); background: #212121; color: #fff; min-height: 30px; position: absolute; text-align: left; top: 0; bottom: 0; left: 0; width: 48%; padding: 6px 0 0 8px; overflow: hidden; box-sizing: border-box; }
	table .customer-info, table tr:last-child { padding-bottom: 0; border-bottom: 0; }
	table .customer-info td { background: #fff; }
	table .customer-info td:before, .owner-table .customer-info td:after { display: none; }

}

