description = "Меню с кнопками для профиля"

[viewBag]
==
<!-- User Nav -->
<nav class="user-nav">
	<ul>
	{% if user.groups.0.code != 'admin' %}
		<li><a href="{{ 'profile'|page }}" class="button {% if this.page.id == 'profile' %}active{% endif %}">Мои заказы</a></li>
		
		{% if user.groups.0.code == 'owner'%}
		<li><a href="{{ 'profile_cars'|page }}" class="button {% if this.page.id == 'profile_cars' %}active{% endif %}">Мои автовышки</a></li>
		{% endif %}
		
		<li><a href="{{ 'profile_user'|page }}" class="button {% if this.page.id == 'profile_user' %}active{% endif %}">Мои данные</a></li>
		
	{% else %}
		<li><a href="{{ 'profile'|page }}" class="button {% if this.page.id == 'profile' %}active{% endif %}">Данные по заказам</a></li>
		<li><a href="{{ 'users'|page }}" class="button {% if this.page.id == 'users' %}active{% endif %}">Пользователи</a></li>
		<li><a href="{{ 'callme'|page }}" class="button {% if this.page.id == 'callme' %}active{% endif %}">Перезвони мне</a></li>
		<li><a href="{{ 'car-types'|page }}" class="button {% if this.page.id == 'car-types' %}active{% endif %}">Виды транспорта</a></li>
		
	{% endif %}
	</ul>
</nav>
<!-- User Nav -->