{% set cars = __SELF__.cars %}


<!-- Main Content -->
<section class="main">
    <h1>Мои автовышки</h1>
    <div class="table-holder">
        <table>
            <tr>
                <th>Марка машины</th>
                <th>Вид автотехники</th>
                <th>Высота стрелы, м</th>
                <th>Грузоподъмность, кг</th>
                <th>Статус</th>
                <th>Действия</th>
            </tr>
            {% for car in cars %}
            <tr>

                <td data-title="Марка машины">{{ car.car_brand }}</td>
                <td data-title="Тип машины">Кран</td>
                <td data-title="Высота стрелы, м">{{ car.boom_height }}</td>
                <td data-title="Грузоподъмность, кг">{{ car.lifting_capacity }}</td>
                <td data-title="Статус">{% if car.status %}Свободен{% else %}Занят{% endif %}</td>
                <td data-title="Действия">
                    <button type="button" class="button" data-request="onDelete" data-request-data="id:{{ car.id }}">Удалить</button>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div><!-- table-holder -->

    <div class="btn-holder">
        <button class="button toggle-hidden" type="button">Добавить автовышку</button>
    </div>

    <div class="hidden-content">
        <form method="get" action="#" data-request="onCarSave">
            <input type="hidden" name="carType" value="crane">
            <div class="input">
                <label for="car_brand">Марка машины</label>
                <input type="text" name="car_brand" placeholder="Марка машины" />
                {{ errors.first('car_brand') }}
            </div>
            <div class="input">
                <label for="lift_brand">Марка подъемного механизма</label>
                <input type="text" name="lift_brand" placeholder="Марка подъемного механизма" />
                {{ errors.first('lift_brand') }}
            </div>
            <div class="input">
                <label for="boom_type">Тип стрелы</label>
                <input type="text" name="boom_type" placeholder="Тип стрелы" />
                {{ errors.first('boom_type') }}
            </div>
            <div class="input">
                <label for="lifting_capacity">Грузоподъемность стрелы, кг</label>
                <input type="text" name="lifting_capacity" placeholder="Грузоподъемность стрелы" />
                {{ errors.first('lifting_capacity') }}
            </div>
            <div class="input">
                <label for="boom_height">Высота стрелы, м</label>
                <input type="text" name="boom_height" placeholder="Высота стрелы" />
                {{ errors.first('boom_height') }}
            </div>
            <div class="submit-holder">
                <button id="sign-in" name="submit" type="submit">Добавить</button>
            </div>
        </form>
    </div>

</section>
<!-- Main Content -->
