description = "Сброс пароля"

[viewBag]
==
<form
    data-request="resetPassword::onResetPassword"
    data-request-update="'resetPassword::complete': '#partialUserResetForm'">
    <div class="input">
        <label for="resetCode">Activation Code</label>
        <input name="code" type="text" id="resetCode" placeholder="Enter the activation code" value="resetPassword.code }}">
    </div>

    <div class="input">
        <label for="resetPassword">New Password</label>
        <input name="password" type="password" id="resetPassword" placeholder="Enter a new password">
    </div>

	<div class="submit-holder">
		<button type="submit" class="btn btn-default">Reset password</button>
	</div>
</form>