description = "Восстановление пароля"

[viewBag]
==
<form
    data-request="resetPassword::onRestorePassword"
    data-request-update="'resetPassword::reset': '#partialUserResetForm'">
    <div class="input">
        <label for="userRestoreEmail">Email</label>
        <input name="email" type="email" id="userRestoreEmail" placeholder="Ваш email">
    </div>

	<div class="submit-holder">
		<button type="submit">Восстановить</button>
	</div>
</form>