description = "Авторизация/Регистрация"

[viewBag]
==
{% if not user %}

    <div class="row">

        <div class="col-md-6">
            <h3>Вход</h3>
            {% partial 'auth/signin' %}
        </div>

        <div class="col-md-6">
            <h3>Регистрация</h3>
            {% partial 'auth/register' %}
        </div>

    </div>

{% else %}

    {% partial 'auth/activation_check' %}

    {% partial 'auth/update' %}

    {% partial 'auth/deactivate_link' %}

{% endif %}