description = "Форма регистрации"

[viewBag]
==
<section class="main">
	<div class="form-holder">
		{% if account.canRegister %}
		<form
			data-request="onRegister">
			<h1>Форма регистрации</h1>
			<div class="input">
				<label for="registerName">Фамилия И.О.</label>
				<input
					name="name"
					type="text"
					id="registerName"
					placeholder="Фамилия И.О." />
			</div>

			<div class="input">
				<label for="registerPhone">Номер телефона</label>
				<input
					name="phone"
					type="text"
					id="registerPhone"
					placeholder="Номер телефона" />
			</div>

			<div class="input">
				<label for="registerEmail">Email</label>
				<input
					name="email"
					type="email"
					id="registerEmail"
					placeholder="Введите email" />
			</div>

			<div class="input">
				<label for="registerPassword">Пароль</label>
				<input
					name="password"
					type="password"
					id="registerPassword"
					placeholder="Введите password" />
			</div>
			<div class="input">
				<label for="registerType">Кто вы</label>
				<select name="acc_type" id="registerType">
					<option value="owner">Владелец автовышки</option>
					<option value="customer">Заказчик</option>
				</select>
			</div>

			<div class="submit-holder">
				<button type="submit">Зарегестрироваться</button>
			</div>
		</form>
		{% else %}
		<!-- Registration is disabled. -->
		{% endif %}
	</div>
</section>