description = "Форма входа"

[viewBag]
==
<section class="main">
	<div class="form-holder">
		<form
			data-request="onSignin">
			<div class="input">
				<label for="userSigninLogin">{{ account.loginAttributeLabel }}</label>
				<input
					name="login"
					type="text"
					id="userSigninLogin"
					placeholder="Ваш {{ account.loginAttributeLabel|lower }}" />
			</div>

			<div class="input">
				<label for="userSigninPassword">Пароль</label>
				<input
					name="password"
					type="password"
					id="userSigninPassword"
					placeholder="Ваш пароль" />
			</div>

			<div class="submit-holder">
				<button type="submit" class="btn btn-default">Войти</button>
			</div>
			
			<p><a href="#" class="foget-pass toggle-hidden">Забыли пароль?</a></p>
		</form>

		{% component 'resetPassword' %}
		
	</div>
</section>