description = "Редактирование профиля"

[viewBag]
==
<section class="main">
	<div class="form-holder">
		{{ form_ajax('onUpdate', { model: user }) }}
		<h1>Редактирование профиля</h1>

		<div class="input">
			<label for="accountName">Фамилия И.О.</label>
			<input name="name" type="text" id="accountName" value="{{ form_value('name') }}">
		</div>
		
		<div class="input">
			<label for="accountPhone">Номер телефона</label>
			<input name="phone" type="text" id="accountPhone" value="{{ form_value('phone') }}">
		</div>

		<div class="input">
			<label for="accountEmail">Email</label>
			<input name="email" type="email" id="accountEmail" value="{{ form_value('email') }}">
		</div>

		<div class="input">
			<label for="accountPassword">Новый пароль</label>
			<input name="password" type="password" id="accountPassword">
		</div>

		<div class="input">
			<label for="accountPasswordConfirm">Проверка пароля</label>
			<input name="password_confirmation" type="password" id="accountPasswordConfirm">
		</div>

		<div class="submit-holder">
			<button type="submit">Сохранить</button>
		</div>

		{{ form_close() }}
	</div>
</section>