{% set u = __SELF__.userData %}

<a href="/profile/users">Вернуться</a>
<section class="main">
<form class="order-form" data-request="onSave">
    <h2>Редактирование пользователя {{ u.id }}</h2>
    <input type="hidden" name="id" value="{{ u.id }}" >
    <div class="input">
        <label for="name">Имя</label>
        <input type="text" name="name" id="name" value="{{ u.name }}">
    </div>
    <div class="input">
        <label for="surname">Фамилия</label>
        <input type="text" name="surname" id="surname" value="{{ u.surname }}">
    </div>
    <div class="input">
        <label for="email">Почта</label>
        <input type="text" name="email" id="email" value="{{ u.email }}">
    </div>
    <div class="input">
        <label for="phone">Телефон</label>
        <input type="text" name="phone" id="phone" value="{{ u.phone  }}">
    </div>
    <div class="input">
        <label for="username">Имя пользователя</label>
        <input type="text" name="username" id="username" value="{{ u.username  }}">
    </div>
    <div class="submit-holder">
        <button name="submit" type="submit">Сохранить</button>
    </div>
</form>
</section>
