<form method="post" data-request="onCallme">
    <div class="input">
        <label for="tel">Номер телефона</label>
        <input type="tel" id="tel" placeholder="Номер телефона" name="tel"/>
    </div>
    {{ errors.first('phone') }}
    <br>
    <div class="submit-holder">
        <button id="call-me" name="submit" type="submit">Перезвоните мне</button>
    </div>
</form>
