{% set allRequests = __SELF__.allRequests %}
{% set pendingRequests = __SELF__.pendingRequests %}
{% set completedRequests = __SELF__.completedRequests %}
{% set acceptedRequests = __SELF__.acceptedRequests %}

<form method="post" data-request="onRequestPhoneSave">
    <div class="input">
        <label for="request_phone">Номер телефона для заказов</label>
        <input type="text" name="request_phone" value="{{ __SELF__.requestPhone.value }}">
    </div>
    <div class="input">
        <label for="request_phone_active">Активен</label>
        <input type="checkbox" name="request_phone_active" {% if __SELF__.requestPhone.active %} checked {% endif %} >
    </div>
    <button type="submit">Сохранить</button>
</form>
<h2>Все заказы</h2>
<div class="table-holder">
    <table>
        <tr>
            <th>Дата</th>
            <th>Время</th>
            <th>Адрес</th>
            <th>Вид автотехники</th>
            <th>Высота стрелы, м</th>
            <th>Грузоподъмность, кг</th>
            <th>Сумма к оплате, руб.</th>
            <th>Заказчик</th>
            <th>Действия</th>
        </tr>
        {% for request in allRequests %}
            <tr>
                <td data-title="Дата">{{ request.date_on }}</td>
                <td data-title="Время">{{ request.time_on }}</td>
                <td data-title="Адрес">{{ request.country.name }}, {{ request.state.name }}, {{ request.address }}</td>
                <td data-title="Тип машины">Кран</td>
                <td data-title="Высота стрелы, м">
                    {% for p in request.params %}
                        {% if p.param.code == 'boom_height' %}
                            {{ p.value }}
                        {% endif %}
                    {% endfor %}
                </td>
                <td data-title="Грузоподъмность, кг">
                    {% for p in request.params %}
                        {% if p.param.code == 'lifting_capacity' %}
                            {{ p.value }}
                        {% endif %}
                    {% endfor %}
                </td>
                <td data-title="Сумма к оплате, руб.">{{ request.pay_sum }}</td>
                <td data-title="Заказчик">{{ request.customer.name }}</td>
                <td data-title="Действия">
                    <div class="button">
                        <a href="profile/{{ request.id }}">
                        Редактировать <span class="mobile-hidden">заказ</span></a>
                    </div>
                    <button type="button"
                            data-request="onAdminRequestAction"
                            data-request-data="id:{{ request.id }},action:'drop'"
                            class="button">
                        Удалить <span class="mobile-hidden">заказ</span>
                    </button>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
<!-- table-holder -->

<h2>Непринятые заказы</h2>
<div class="table-holder">
    <table>
        <tr>
            <th>Дата</th>
            <th>Время</th>
            <th>Адрес</th>
            <th>Вид автотехники</th>
            <th>Высота стрелы, м</th>
            <th>Грузоподъмность, кг</th>
            <th>Сумма к оплате, руб.</th>
            <th>Заказчик</th>
            <th>Действия</th>
        </tr>
        {% for request in allRequests %}
            <tr>
                <td>{{ request.date_on }}</td>
                <td>{{ request.time_on }}</td>
                <td>{{ request.country.name }}, {{ request.state.name }}, {{ request.address }}</td>
                <td>Кран</td>
                <td data-title="Высота стрелы, м">
                    {% for p in request.params %}
                        {% if p.param.code == 'boom_height' %}
                            {{ p.value }}
                        {% endif %}
                    {% endfor %}
                </td>
                <td data-title="Грузоподъмность, кг">
                    {% for p in request.params %}
                        {% if p.param.code == 'lifting_capacity' %}
                            {{ p.value }}
                        {% endif %}
                    {% endfor %}
                </td>
                <td>{{ request.pay_sum }}</td>
                <td>{{ request.customer.name }}</td>
                <td>
                    <div class="button">
                        <a href="profile/{{ request.id }}">
                            Редактировать <span class="mobile-hidden">заказ</span></a>
                    </div>
                    <button type="button"
                            data-request="onAdminRequestAction"
                            data-request-data="id:{{ request.id }},action:'drop'"
                            class="button">
                        Удалить <span class="mobile-hidden">заказ</span>
                    </button>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
<!-- table-holder -->

<h2>Принятые заказы</h2>
<div class="table-holder">
    <table>
        <tr>
            <th>Дата</th>
            <th>Время</th>
            <th>Адрес</th>
            <th>Вид автотехники</th>
            <th>Высота стрелы, м</th>
            <th>Грузоподъмность, кг</th>
            <th>Сумма к оплате, руб.</th>
            <th>Исполнитель</th>
            <th>Действия</th>
        </tr>
        {% for request in allRequests %}
            <tr>
                <td>{{ request.date_on }}</td>
                <td>{{ request.time_on }}</td>
                <td>{{ request.country.name }}, {{ request.state.name }}, {{ request.address }}</td>
                <td>Кран</td>
                <td data-title="Высота стрелы, м">
                    {% for p in request.params %}
                        {% if p.param.code == 'boom_height' %}
                            {{ p.value }}
                        {% endif %}
                    {% endfor %}
                </td>
                <td data-title="Грузоподъмность, кг">
                    {% for p in request.params %}
                        {% if p.param.code == 'lifting_capacity' %}
                            {{ p.value }}
                        {% endif %}
                    {% endfor %}
                </td>
                <td>{{ request.pay_sum }}</td>
                <td>{{ request.owner.name }}</td>
                <td>
                    <div class="button">
                        <a href="profile/{{ request.id }}">
                            Редактировать <span class="mobile-hidden">заказ</span></a>
                    </div>
                    <button type="button"
                            data-request="onAdminRequestAction"
                            data-request-data="id:{{ request.id }},action:'drop'"
                            class="button">
                        Удалить <span class="mobile-hidden">заказ</span>
                    </button>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
<!-- table-holder -->

<h2>Выполненные заказы</h2>
<div class="table-holder">
    <table>
        <tr>
            <th>Дата</th>
            <th>Время</th>
            <th>Адрес</th>
            <th>Вид автотехники</th>
            <th>Сумма к оплате, руб.</th>
            <th>Заказчик</th>
            <th>Исполнитель</th>
            <th>Действия</th>
        </tr>
        {% for request in allRequests %}
            <tr>
                <td>{{ request.date_on }}</td>
                <td>{{ request.time_on }}</td>
                <td>{{ request.country.name }}, {{ request.state.name }}, {{ request.address }}</td>
                <td>Кран</td>
                <td data-title="Высота стрелы, м">
                    {% for p in request.params %}
                        {% if p.param.code == 'boom_height' %}
                            {{ p.value }}
                        {% endif %}
                    {% endfor %}
                </td>
                <td data-title="Грузоподъмность, кг">
                    {% for p in request.params %}
                        {% if p.param.code == 'lifting_capacity' %}
                            {{ p.value }}
                        {% endif %}
                    {% endfor %}
                </td>
                <td>{{ request.owner.name }}</td>
                <td>
                    <div class="button">
                        <a href="profile/{{ request.id }}">
                            Редактировать <span class="mobile-hidden">заказ</span></a>
                    </div>
                    <button type="button"
                            data-request="onAdminRequestAction"
                            data-request-data="id:{{ request.id }},action:'drop'"
                            class="button">
                        Удалить <span class="mobile-hidden">заказ</span>
                    </button>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
<!-- table-holder -->
