title = "Главная страница"
url = "/"
layout = "main"
is_hidden = 0

[requestform]

[contactform]
==
<section class="main">
	<div class="form-holder">
		{% component 'requestform' %}
		{% component 'contactform' %}
	</div>
</section>
