description = "Верхнее меню"

[viewBag]
==
				<li class="nav-item"> <a class="nav-link {% if this.page.id == 'home' %}active{% endif %}" href="{{ 'home'|page }}">Главная</a> </li>
	            <li class="nav-item"> <a class="nav-link {% if this.page.url|staticPage == 'about'|staticPage %}active{% endif %}" href="{{ 'about'|staticPage }}">О нас</a> </li>
	            <li class="nav-item"> <a class="nav-link {% if this.page.url|staticPage == 'work'|staticPage %}active{% endif %}" href="{{ 'work'|staticPage }}">Как мы работаем</a> </li>
				<li class="nav-item"> <a class="nav-link {% if this.page.url|staticPage == 'contacts'|staticPage %}active{% endif %}" href="{{ 'contacts'|staticPage }}">Контакты</a> </li>