description = "Верхнее меню авторизации"

[viewBag]
==
			{% if user %}
			<li class="nav-item"> <a class="nav-link {% if this.page.id == 'profile' %}active{% endif %}" href="{{ 'profile'|page }}">Личный кабинет {{ user.name }}</a> </li>
			<li class="nav-item"> <a class="nav-link" data-request="onLogout" href="#">Выйти</a> </li>
			{% else %}
            <li class="nav-item"> <a class="nav-link {% if this.page.id == 'login' %}active{% endif %}" href="{{ 'login'|page }}">Войти</a> </li>
			<li class="nav-item"> <a class="nav-link {% if this.page.id == 'register' %}active{% endif %}" href="{{ 'register'|page }}">Регистрация</a> </li>
            {% endif %}