{% set contacts = __SELF__.contacts %}

<section class="main">
    <div class="table-holder">
        <table>
            <tr>
                <th>ID</th>
                <th>Номер телефона</th>
                <th>Дата</th>
                <th>Пользователь</th>
            </tr>
            {% for c in contacts %}
            <tr>
                <td>{{ c.id }}</td>
                <td>{{ c.phone }}</td>
                <td>{{ c.created_at }}</td>
                <td><a href="/profile/users/{{ c.user_id }}">{{ c.user.name }}</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</section>
